frontend/node_modules
backend-api-sql/node_modules
frontend/view/talking-popcorn.zip


# OSX
#
frontend/.DS_Store

# Xcode
#

frontend/build/
frontend/*.pbxuser
frontend/!default.pbxuser
frontend/*.mode1v3
frontend/!default.mode1v3
frontend/*.mode2v3
frontend/!default.mode2v3
frontend/*.perspectivev3
frontend/!default.perspectivev3
frontend/xcuserdata
frontend/*.xccheckout
frontend/*.moved-aside
frontend/DerivedData
frontend/*.hmap
frontend/*.ipa
frontend/*.xcuserstate
frontend/project.xcworkspace

# Android/IntelliJ
#

frontend/build/
frontend/.idea
frontend/.gradle
frontend/local.properties
frontend/*.iml
frontend/*.hprof

# node.js
#

frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# BUCK
frontend/buck-out/
frontend/\.buckd/
frontend/.buckd/
\.buckd/
frontend/*.keystore
frontend/!debug.keystore

# Bundle artifacts
frontend/*.jsbundle

# CocoaPods
frontend/ios/Pods/
frontend//ios/Pods/
/ios/Pods/
ios/Pods/

# Expo
frontend/.expo/
frontend/web-build/
frontend/dist/
